In [1]:
cd Downloads/

/Users/edinzade/Downloads

In [2]:
ls

AWS Certified Solutions Architect - Associate 2018.ete
CentOS-7-x86_64-Minimal-1810.iso
FL_insurance_sample.csv
test.csv
test.xlsx

In [3]:
import numpy as np
import pandas as pd

In [4]:
#Dropping unnecessary columns in a DataFrame

In [24]:
df = pd.read_csv('FL_insurance_sample.csv')

In [22]:
df.head()

,policyID,statecode,county,eq_site_limit,hu_site_limit,fl_site_limit,fr_site_limit,tiv_2011,tiv_2012,eq_site_deductible,hu_site_deductible,fl_site_deductible,fr_site_deductible,point_latitude,point_longitude,line,construction,point_granularity
0,119736,FL,CLAY COUNTY,498960.0,498960.00,498960.0,498960.0,498960.00,792148.90,0.0,9979.2,0.0,0,30.102261,-81.711777,Residential,Masonry,1
1,448094,FL,CLAY COUNTY,1322376.3,1322376.30,1322376.3,1322376.3,1322376.30,1438163.57,0.0,0.0,0.0,0,30.063936,-81.707664,Residential,Masonry,3
2,206893,FL,CLAY COUNTY,190724.4,190724.40,190724.4,190724.4,190724.40,192476.78,0.0,0.0,0.0,0,30.089579,-81.700455,Residential,Wood,1
3,333743,FL,CLAY COUNTY,0.0,79520.76,0.0,0.0,79520.76,86854.48,0.0,0.0,0.0,0,30.063236,-81.707703,Residential,Wood,3
4,172534,FL,CLAY COUNTY,0.0,254281.50,0.0,254281.5,254281.50,246144.49,0.0,0.0,0.0,0,30.060614,-81.702675,Residential,Wood,1

In [25]:
#drop some columns
to_drop = ["construction","eq_site_deductible"]
#df.drop(to_drop, inplace=True, axis=1)
#or
df.drop(columns=to_drop, inplace=True)

In [19]:
df.head()

,policyID,statecode,county,eq_site_limit,tiv_2011,tiv_2012,eq_site_deductible,hu_site_deductible,fl_site_deductible,fr_site_deductible,point_latitude,point_longitude,line,point_granularity
0,119736,FL,CLAY COUNTY,498960.0,498960.00,792148.90,0.0,9979.2,0.0,0,30.102261,-81.711777,Residential,1
1,448094,FL,CLAY COUNTY,1322376.3,1322376.30,1438163.57,0.0,0.0,0.0,0,30.063936,-81.707664,Residential,3
2,206893,FL,CLAY COUNTY,190724.4,190724.40,192476.78,0.0,0.0,0.0,0,30.089579,-81.700455,Residential,1
3,333743,FL,CLAY COUNTY,0.0,79520.76,86854.48,0.0,0.0,0.0,0,30.063236,-81.707703,Residential,3
4,172534,FL,CLAY COUNTY,0.0,254281.50,246144.49,0.0,0.0,0.0,0,30.060614,-81.702675,Residential,1

In [26]:
#Changing the Index of a DataFrame

In [30]:
df['point_latitude'].is_unique  #

False

In [28]:
df["policyID"].is_unique # find if this column is uniqu for all table. because we want to make index.

True

In [32]:
#Let’s replace the existing index with this column using set_index:
df = df.set_index("policyID")

In [33]:
df.head()

,statecode,county,eq_site_limit,hu_site_limit,fl_site_limit,fr_site_limit,tiv_2011,tiv_2012,hu_site_deductible,fl_site_deductible,fr_site_deductible,point_latitude,point_longitude,line,point_granularity
policyID,,,,,,,,,,,,,,,
119736,FL,CLAY COUNTY,498960.0,498960.00,498960.0,498960.0,498960.00,792148.90,9979.2,0.0,0,30.102261,-81.711777,Residential,1
448094,FL,CLAY COUNTY,1322376.3,1322376.30,1322376.3,1322376.3,1322376.30,1438163.57,0.0,0.0,0,30.063936,-81.707664,Residential,3
206893,FL,CLAY COUNTY,190724.4,190724.40,190724.4,190724.4,190724.40,192476.78,0.0,0.0,0,30.089579,-81.700455,Residential,1
333743,FL,CLAY COUNTY,0.0,79520.76,0.0,0.0,79520.76,86854.48,0.0,0.0,0,30.063236,-81.707703,Residential,3
172534,FL,CLAY COUNTY,0.0,254281.50,0.0,254281.5,254281.50,246144.49,0.0,0.0,0,30.060614,-81.702675,Residential,1

In [47]:
for x in df[1:2][1:2]:
    print(x)

statecode
county
eq_site_limit
hu_site_limit
fl_site_limit
fr_site_limit
tiv_2011
tiv_2012
hu_site_deductible
fl_site_deductible
fr_site_deductible
point_latitude
point_longitude
line
point_granularity

In [48]:
#We can access each record in a straightforward way with loc[]

In [50]:
df.loc[206893]

statecode                      FL
county                CLAY COUNTY
eq_site_limit              190724
hu_site_limit              190724
fl_site_limit              190724
fr_site_limit              190724
tiv_2011                   190724
tiv_2012                   192477
hu_site_deductible              0
fl_site_deductible              0
fr_site_deductible              0
point_latitude            30.0896
point_longitude          -81.7005
line                  Residential
point_granularity               1
Name: 206893, dtype: object

In [54]:
df.loc[119736] # location for index value

statecode                      FL
county                CLAY COUNTY
eq_site_limit              498960
hu_site_limit              498960
fl_site_limit              498960
fr_site_limit              498960
tiv_2011                   498960
tiv_2012                   792149
hu_site_deductible         9979.2
fl_site_deductible              0
fr_site_deductible              0
point_latitude            30.1023
point_longitude          -81.7118
line                  Residential
point_granularity               1
Name: 119736, dtype: object

In [53]:
df.iloc[0] # location for index position

statecode                      FL
county                CLAY COUNTY
eq_site_limit              498960
hu_site_limit              498960
fl_site_limit              498960
fr_site_limit              498960
tiv_2011                   498960
tiv_2012                   792149
hu_site_deductible         9979.2
fl_site_deductible              0
fr_site_deductible              0
point_latitude            30.1023
point_longitude          -81.7118
line                  Residential
point_granularity               1
Name: 119736, dtype: object

In [55]:
#Tidying up Fields in the Data
#we will clean specific columns and get them to a uniform format to get a 
#better understanding of the dataset and enforce consistency.

In [56]:
df.get_dtype_counts() #Upon inspection, all of the data types are currently the 
                     #object dtype, which is roughly analogous to str in native Python.

int64       2
object      3
float64    10
dtype: int64

In [59]:
df.loc[119736:,'eq_site_limit'].head(10)

policyID
119736     498960.0
448094    1322376.3
206893     190724.4
333743          0.0
172534          0.0
785275          0.0
995932          0.0
223488     328500.0
433512     315000.0
142071     705600.0
Name: eq_site_limit, dtype: float64

In [60]:
#regex = r'^(\d{4})'. The regular expression above is meant to find any four
#digits at the beginning of a string, which suffices for our case.

In [63]:
#extr = df['fl_site_limit'].str.extract(r'^(\d{4})', expand=False)
#extr.head()

In [64]:
df['fl_site_limit'].dtype

dtype('float64')

In [68]:
df['fl_site_limit']=pd.to_numeric(df['fl_site_limit'])

In [69]:
df['fl_site_limit'].isnull().sum() / len(df)

0.0

In [70]:
#Combining str Methods with NumPy to Clean Columns

In [71]:
pub = df['county']

In [73]:
pub.head()

policyID
119736    CLAY COUNTY
448094    CLAY COUNTY
206893    CLAY COUNTY
333743    CLAY COUNTY
172534    CLAY COUNTY
Name: county, dtype: object

In [74]:
london = pub.str.contains('CLAY COUNTY')

In [80]:
df[london]["fr_site_limit"].max()

11160000.0

In [81]:
#Cleaning the Entire Dataset Using the applymap Function

In [82]:
#Renaming Columns and Skipping Rows

In [83]:
#df.rename(columns=new_names, inplace=True)